.container{
    display: flex;
    justify-content: center;
    
}

input {
    background-color: rgb(5, 179, 248);
    font-family: cursive;
    border-radius: 10px 0 0 10px ;
    border-color:black;
    outline: none;
}
button{
    border-radius: 0 10px 10px 0;
    border-color: black;
    color: aquamarine;
    background-color: black;
}

button:hover{
    color: black;
    background-color: aquamarine;
}