.containers{
    display: flex;
    justify-content: right;
    
}

input {
    box-sizing: border-box;
    color: #191919;
    padding: 15px 15px 15px 35px;
    width: 70%
}
button{
    position: relative;
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#000000;
    padding-top: 13px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

