.container {
    display: flex;
    color: black;
    text-decoration: none;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(14, 122, 155), rgb(255, 255, 255));
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.button{
    text-decoration-line: none;
    text-decoration-color: black;
}
.active{
    color:black;
    font-weight: bold;
    text-decoration: none;
}
.disable{
    color:black;
    font-weight: bold;
    text-decoration: none;
}